body {
    color: blue;
    text-align: center;
    font-family: Arial;
    font-size: 26px;
    margin: 0;
    padding:0;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1,p{
    font-size: 36px;
    padding-left: 1em;
}

#cabecera {
    background: #33A;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.75);
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.6em;
}